* {
  background-color: #363333;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 76%;
  margin-top: 2%;
  margin-bottom: 1%;
  cursor: pointer;
  border-bottom: 3.4px solid #b95cdb;
}

.navText {
  font-size: 30px;
  font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
  color: #e0dcdc;
}

.navText:hover {
  border-bottom-width: 1.8px;
  border-bottom-color: #e0dcdc;
  border-bottom-style: solid;
}

.screen {
  width: 92%;
  display: flex;
  margin-bottom: 5%;
}

h1,
p {
  color: #e0dcdc;
  font-family: 'Oswald', sans-serif;
}

.leftColumnHome {
  flex: 1;
}

.mainHome {
  flex: 2;
  margin-top: 2%;
}

.rightColumnHome {
  flex: 1;
}

.homeImgDiv {
  margin-top: 50px;
  margin-bottom: 50px;
}

.rotateLeftLC {
  transform: rotate(10deg);
  margin-left: 20px;
  height: 220px;
  width: 220px;
  border-radius: 3px;
  border: 1px solid #b95cdb;
}

.rotateRightLC {
  transform: rotate(-10deg);
  margin-left: 70px;
  height: 220px;
  width: 220px;
  border-radius: 3px;
  border: 1px solid #b95cdb;
}

.rotateLeftRC {
  transform: rotate(-10deg);
  margin-left: 70px;
  height: 220px;
  width: 220px;
  border-radius: 3px;
  border: 1px solid #b95cdb;
}

.rotateRightRC {
  transform: rotate(10deg);
  margin-left: 20px;
  height: 220px;
  width: 220px;
  border-radius: 3px;
  border: 1px solid #b95cdb;
}

.leftColumnAboutMe {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.rightColumnAboutMe {
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.resumeScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.downloadResBtn {
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-color: #e0dcdc;
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
  width: 80%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.downloadText {
  font-size: 20px;
}

.resume {
  width: 80%;
  border-width: 3px;
  border-color: #b95cdb;
  border-radius: 3px;
  border-style: solid;
  margin-bottom: 3%;
}

.samplesScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.samplesRow {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: .7%;
}

.sampleBlock {
  width: 100%;
  margin-left: .7%;
  margin-right: .7%;
}

.sampleImg {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  border: 3px solid #b95cdb;
}

.aboutMeText {
  font-size: 24px;
  margin-bottom: 5%;
}

.homeHeading {
  width: '90%';
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
}

.homeParagraph {
  font-size: 24px;
  width: '90%';
  margin-left: 5%;
}

.signature {
  align-self: flex-end;
  font-size: 24px;
  width: '90%';
}

.contactInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.contactInfoParagraph {
  align-self: flex-end;
  font-size: 22px;
  padding-top: 0;
  padding-bottom: 2;
  margin-top: 0;
  margin-bottom: 0;
}

/* Phone */

.phoneView {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.greetingPhone {
  font-size: 36px;
  padding-bottom: 0;
  margin-bottom: 2%;
  border-bottom: 2px solid #b95cdb;
}

.greetingParagraphPhone {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 3%;
  margin-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 150%;
  font-size: 22px;
  text-align: center;
}

.contactInfoPhone {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfoRow {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2%;
  margin-bottom: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signaturePhone {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 20px;
  text-decoration: underline;
}

.contactInfoParagraphPhone {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.videoPhone {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.samplesDivPhone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.samplePhone {
  width: 100%;
}

.sampleImgPhone {
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
  width: 80%;
  border: 2px solid #b95cdb;
}

.downloadResBtnPhone {
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-color: #e0dcdc;
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
  width: 50%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 2%;
  margin-bottom: 8%;
}

.downloadPPhone {
  font-size: 20px;
}

/* Tablet */

.navTextTablet {
  font-size: 22px;
  font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
  color: #e0dcdc;
}

.navTextTablet:hover {
  border-bottom-width: 1px;
  border-bottom-color: #e0dcdc;
  border-bottom-style: solid;
}

.aboutMeTabletMasterDiv {
  width: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeTabletDiv {
  width: 560px;
  margin-bottom: 5%;
}

.samplesScreenTablet {
  width: 100%;
  margin-bottom: 5%;
}

.sampleBlockTablet {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  margin-bottom: 1%;
}

.sampleImgTablet {
  width: 100%;
  height: 200px;
  border: 2px solid #b95cdb;
}

.contactInfoTablet {
  display: flex;
  flex-direction: column;
  width: '100%';
}

.contactInfoRowTablet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
  width: 60%;
}

.signatureTablet {
  font-size: 24px;
  text-decoration: underline;
}

.contactInfoParagraphTablet {
  font-size: 24px;
}